<!-- views/includes/footer.ejs -->
 <footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://github.com/pulkitshringi/homestays_app" target="_blank" class="f-info-social-link">
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/pulkitshringi/" target="_blank" class="f-info-social-link">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
        <div class="f-info-brand">
            &copy; <a href="https://www.linkedin.com/in/pulkitshringi/" target="_blank" class="f-info-brand-link">Pulkit Shringi</a>
        </div>
    </div>
 </footer>