<!-- views/includes/footer.ejs -->
<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://github.com/pulkitshringi/homestays_app" target="_blank" class="f-info-social-link" style="text-decoration: none; color: inherit;">
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/pulkitshringi/" target="_blank" class="f-info-social-link" style="text-decoration: none; color: inherit;">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
        <div class="f-info-brand">
            &hearts; <a href="https://www.linkedin.com/in/pulkitshringi/" target="_blank" class="f-info-brand-link" style="text-decoration: none; color: inherit;">Pulkit Shringi</a>
        </div>
    </div>
</footer>
