<!-- /views/listings/error.ejs -->
<%- layout('layouts/boilerplate') %>
<div class="alert alert-danger mt-2" role="alert">
    <h4 class="alert-heading text-center">Error!</h4>
    <p class="text-center"><%=err.message%></p>
  </div>