<!-- views/listings/new.ejs -->
<%layout('layouts/boilerplate')%>
<br><br>
<div class="row">
    <div class="col-8 offset-2">
    <h3>New Listing:- </h3>
    <form action="/listings" class="needs-validation" method="post" novalidate enctype="multipart/form-data">
        <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" id="title"class="form-control" name="listing[title]" placeholder="Add a catchy title" required>
        <div class="invalid-feedback">Please enter a title</div>
        <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea id="description" class="form-control" name="listing[description]" placeholder="Description" required></textarea>
        <div class="invalid-feedback">Please enter a description</div>
        <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3">
            <label for="image-url" class="form-label">Image URL</label>
            <input type="text" id="image-url" class="form-control" name="listing[image][url]" placeholder="Image URL">
          <div class="invalid-feedback">Please enter a valid image URL</div>    
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3">
        <label for="image-file" class="form-label">Upload image</label>
            <input type="file" id="image-file" class="form-control" name="listing[image][url]" placeholder="Image URL">
            <div class="invalid-feedback">Upload image</div>
            <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="row">
            <div class="col-md-4">
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input id="price" class="form-control" name="listing[price]" placeholder="Price" required>
            <div class="invalid-feedback">Please enter a valid price</div>
            <div class="valid-feedback">Looks good!</div>   
            </div>
        </div>
        <div class="col-md-8">
            <div class="mb-3">
                <label for="country" class="form-label">Country</label>
                <input type="text" id="country" class="form-control" name="listing[country]" placeholder="India" required>
                <div class="invalid-feedback">Please enter a country</div>
                <div class="valid-feedback">Looks good!</div>
            </div>
        </div>
        </div>
            <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input type="text"id="location" class="form-control" name="listing[location]" placeholder="Jaipur" required>
        <div class="invalid-feedback">Please enter a location</div>
        <div class="valid-feedback">Looks good!</div>
        </div>
        <br>
        <button class="btn btn-dark add-btn">Create</button>
    </form>
</div>
</div>
